 <div class="user-details">
  <h2> My Expertise </h2>
  <p>{{ site.user_description }}</p>
</div>
  <div class="user">
    <div class="tech">
      <h3>Code & Data</h3>
        <i class="devicon-mongodb-plain-wordmark colored"></i>
        <i class="devicon-postgresql-plain-wordmark colored"></i>
        <i class="devicon-python-plain-wordmark colored"></i>
      <p> Developing code to query and harness the power of object-oriented programming with large data sources.</p>
    </div>
    <div class="tech">
      <h3>Tools</h3>
        <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
        <i class="devicon-docker-plain-wordmark colored"></i>
        <i class="devicon-ssh-plain-wordmark colored"></i>
      <p> Leveraging the cloud and distributed computing to clean and process big data for generating machine learning models.</p>
    </div>
    <div class="tech">
      <h3>Web</h3>
        <i class="devicon-d3js-plain colored"></i>
        <i class="devicon-gulp-plain colored"></i>
        <i class="devicon-webstorm-plain colored"></i>
      <p> Using the power of web development to create beautiful visualizations and websites, just like this one!</p>
    </div>
</div>
