<div id="particles-js">
    <div class="header-post">
        <h1>
            <span class="site-title">{{ page.title }}</span>
            <span class="site-description" margin-top="30px">{{ page.description }}</span>
        </h1>
        <div class="header-icons">
            <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
            <a aria-label="My Github" target="_blank" href="https://www.github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
            <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
            <a aria-label="My Twitter" target="_blank" href="https://www.twitter.com/{{site.github_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>

            <!--<a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>-->

        </div>
        <div class="header-links">
            <a class="link" href="/" data-scroll>Home</a>
            <a class="link" href="/#projects" data-scroll>Back to Projects</a>
            <a class="link" href="/resume.html">Resume/CV</a>
        </div>
    </div>
    <a class="down" href="#scroll" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
