<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Website currently under construction</h1>
            <hr>
            <p>Please be advised I am currently performing maintenance and should have the website up and running by mid-late January 2018. Some links may work but please bear with me as I get this up and running ASAP!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Thank you!</a>
        </div>
    </div>
</header>
