<div id="particles-js">
  <div class="header-post">
      <h1>
        <span class="site-title">{{ page.title }}</span>
        <span class="site-description" margin-top="30px">{{ page.description }}</span>
      </h1>
      <div class="header-links-post">

        <a class="link" href="/" target="_self">Home</a>
        <a class="link" href="/#about" target="_self">About</a>
        <a class="link" href="/#projects" target="_self">Projects</a>

      </div>
  </div>
  <a class="down" href="#scroll" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
